a{
    white-space: nowrap!important;
}
html,body {
    height: 100%;
    min-width: 340px;
    /* The html and body elements cannot have any padding or margin. */
}
.container-fluid {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -30px; 
}
/* Set the fixed height of the footer here */
#push,
footer {
    height: 30px;
}

#profileButton{
    background-size: cover;
    background-color: transparent;
    width: 40px;
    height: 38px;
    border: none;
}

.inputQuantity{
    width: 53px !important
}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
.form-horizontal .control-label{
    text-align: left;
}

#cartButton{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    border: transparent;
    vertical-align: middle; 
    background-color:transparent;
}
address{
    margin-bottom: 0px;
}
.addCart{
    max-height: 70px;
    max-width: 70px;
    min-width: 55px;
}
#contact{
    display: none;
    position:fixed;
    bottom: 44px;
    right:10px;
    z-index: 1;
    float: right;
}
.modal-header{
    border-bottom: none;
}
.badge-danger{
    background-color: red;
    margin-top: 15px;
    margin-left: 10px;
    line-height: normal;
    border-radius: 50px;
}
footer {
    padding: 0 10px;
}
.table>tbody>tr>td, .table>tbody>tr>th{
    vertical-align: middle;
}
p{
    margin:auto;
}
footer {
    padding-top: 4px;
    padding: 0 10px;

}
.form-control{
    text-align: center;
}
.buttonQuantity{
    padding: 5px 70px;
}
.mL{
    margin-left: 5px;
}
.mR{
    margin-right: 5px;
}
.quantityForm{
    margin-top: 40px;
}
@media (max-width: 767px) { 
    #logo{
        display: none;
    }
    .cost{
        font-size: 3.5em;
    }
    

}
@media(max-width:564px){
    .adminProfile{
        float:none!important;
    }
}

@media (max-width: 480px) {
    #logo{
        display: none;
    }
}
@media (max-width: 418px) {
    .logo-header{
        text-align: center;

    }
    .navbar-brand{
        float: none;
    }
    
    #links{
        float: none;
        text-align: center;
    }
    #copyright{
        float:none;
        text-align: center;

    }
    .adminProfile{
        float:none!important;
    }
    .well{
        padding: 15px 6px!important;
    }
    .mainTitle{
        font-size: 1.5em!important;
    }
    .navbar-brand{
    padding:15px 5px!important;
}

}
@media(min-width: 420px){
    #links{
        float: right!important; 
    }
    #copyright{
        float:left!important;
    }
    #cartContent{
        right: 15px;

    }

}
@media(max-width: 300px){
    .affix{
        position: relative;
    }
}
@media(min-width: 300px){
    .affix #loginButton,.affix #registerButton,.affix .text-muted,.affix .navbar-brand,.affix #profile{
        display: none;
    }

    .affix #cartSum{
        line-height: 0.5;
        text-align: initial;
    }
    #cartSum{
        white-space: nowrap;
        font-size: 1.3em;

        margin-left: -8px;
    }
    .navbar{
        padding: 5px 15px 0 0;
    } 
    .affix{
        z-index: 12;
        right: 15px; 
        padding: 5px 15px 0 28px;
    }



}
.cartContent{
    display: none;
    position: fixed;
    margin-top: 6px;
    z-index: 123;
    padding: 15px 15px 0 0;
    right: 15px;
}
#profileMenu{
    display: none;
    position: absolute;
    z-index: 123;
    margin-left: -1px;
    /* margin-top: 10px; */
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border-color: transparent;
}

.cost{
    font-size: 1.5em;
}
#columns{
    text-align: center;
    background-color: white;
    margin-bottom: 40px;
    margin-top:40px;
}
.desc{
    margin-top: 20px;
}

.row-flex, .row-flex > div[class*='col-'] {  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}

.row-flex-wrap {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    align-content: flex-start;
    flex:0;
}

.row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
    margin:-.2px; /* hack adjust for wrapping */

}

.panel-default>.panel-heading{
    background-color: white;
    background-image: none;
    border-color: transparent;
}
.panel-footer{
    background-color:white;
}

.flex-col {
    display: flex;
    display: -webkit-flex;
    flex: 1 100%;
    -webkit-flex: 1 100%;
    -ms-flex: 1 100%;
    flex-flow: column nowrap;
    -webkit-flex-flow:column nowrap;
}

.flex-grow {
    display: flex;
    -webkit-flex: 2;
    -ms-flex: 2; 
    flex: 2;
    align-items: center;
    -webkit-align-items:center;
    justify-content: center;
    -webkit-justify-content:center;
}

#loginButton,#registerButton{
    padding:12px 30px;
}
#registerButton{
    margin-right: 40px;
}

.vertical-align {
    display: flex;
    flex-direction: row;
}

.vertical-align > [class^="col-"], .vertical-align > [class*=" col-"] {
    display: flex;
    align-items: center;
    justify-content: center; /* Optional, to align inner items 
                                horizontally inside the column */
}
#quantity{
    min-width: 55px;
}

header >.container-fluid{
    display: inline;
    padding:0;
}
.col-lg-12{
    padding: 0;
}
.img-thumbnail{
    max-height: 100%;
}
.mL,.mR {
    min-width: 35px;
} 


#cartBody{
    display: block;
    table-layout: fixed;
    overflow-y: scroll;
    max-height: 150px;
}
#cartContent .rowCart{
    padding: 45px;
}

.productCartCost{
    white-space: nowrap;
}
.img-delete, .img-edit {
    width:20px;
    cursor:pointer;
}
.img-cart{
    max-height:100px;
}
#cartContent em{
    padding: 0 25px;
}
.img-previewProduct{
    max-width: 70px;
}
table {
    border-collapse: collapse;
}

td {
    padding: 5px 5px 0 5px;
}
#cartContent strong{
    font-size: 1.5em;
}
#cartContent .btn-danger{
    padding: 5px 50px;
}
#cart{
    padding: 0 5px;
}
.total{
    position:absolute;
    bottom: 0;
    right: 10px;
    font-size: 28px;
    font-weight: bold;

    font-family: 'Roboto', sans-serif;
}

.pac-container {
    z-index: 1050 !important;
}

div .intl-tel-input{
    display: block;
}
.triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 12px 10px;
    position: absolute;
    top: -11px;
    right: 80px;
    z-index: 122142123;
    border-color: transparent transparent white;
}
.user-profile{
    background-color:white;
}
#profile .list-group-item{
    border-width: 2px;
    border-style: solid;
    border-color: transparent transparent whitesmoke transparent;
}
#profile{
    margin-right:15px;
}
.name{
    width:100%;
}
.title{
    display: inline-block;
}
#titles{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis!important;
    white-space: nowrap!important;
}
.mainTitle{
    font-size: 1.9em;
}
.secondaryTitle{
    color: silver;
}
.thirdTitle{
    color:#EBEBEB;
}
#special{
    position: relative;
}
#titles{
    white-space: nowrap;
}
#container #cartContent{
    display: inline-block;
    width: 100%;
}
.tableCategory{
    margin-bottom: 0px;
}
.orderFooter{
    margin-left: 10px;
}
.orderHeader{
    padding:0px 19px;
}
.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center
}
.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}

.modal-backdrop {
    position: fixed;
    bottom: 0;
    height: auto !important; 
}
.dropzone .dz-preview{
    display: inherit!important;
}
.dropzone .dz-preview .dz-image{
    margin:0 auto;
}
.dropzone {
    border: 2px dashed #0087F7 !important;
    border-radius: 5px;
}
.dz-progress{
    display:none!important;
}
.dropzone .dz-preview .dz-image img {
    width: 120px;
    height: 120px;
}
.tab-content > .active {
    display: inline-block!important;
    width: 100% !important;
}

td,th{
    white-space: nowrap!important;
}